<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-2 d-flex justify-content-center">
        <h5>Products</h5>
      </div>

      <div class="col-lg-2 d-flex justify-content-center">
        <span class="vr divider-1"></span>
        <h5 class="text-nowrap">Contact Us</h5>
        <span class="vr divider-2"></span>
      </div>

      <div class="col-lg-2 d-flex justify-content-center">
        <h5>About Us</h5>
      </div>

      <div class="col-lg-3"></div>
    </div>
    <p class="d-flex justify-content-center">Copyright © All Rights Reserved.</p>
  </div>
</footer>
