<% layout("layouts/boilerplate") %>

<!-- JUMBOTRON -->
<div class="jumbotron p-5 mb-4 bg-light">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold jumbo-text">PROVIDING HIGH-QUALITY INSTRUMENTS AT A COMPETITIVE PRICE</h1>
    <p class="jumbo-text">Hi-Tech Instruments was established in 2002 as a manufacturer of Laboratory & blood bank instruments. Our mission is to provide high-quality instruments at a competitive price.</p>
    <button class="btn btn-primary btn-lg read-more-btn" type="button">Read More</button>
    <div class="box d-flex justify-content-center align-items-center mx-auto">
      <p class="box-text">We are committed to provide our customers with the highest quality product and services which meet and exceed their requirements. We are also committed to continuously improving the product and services we offer.</p>
    </div>
  </div>
</div>
<!-- //JUMBOTRON -->

<div class="mobile-box d-flex justify-content-center align-items-center mx-auto">
  <p class="mobile-box-text">We are committed to provide our customers with the highest quality product and services which meet and exceed their requirements. We are also committed to continuously improving the product and services we offer.</p>
</div>

<!-- CONTENT WRAPPER -->
<div id="conent-wrapper">
  <div class="container-fluid">
    <div class="mobile-products-intro">
      <div class="row">
        <div class="col-lg-8">
          <h2>PRODCUTS</h2>
          <p>Hi-Tech Instruments was established in 2002 with an objective to be recognized as a cheaper option in the manufacturing of Laboratory & blood bank instruments. Hi-Tech Instruments was later expanded to sell refurbished and also brand new instruments to all over the world. Our mission is to provide high quality instruments with competitive prices.</p>
        </div>
        <div class="col-lg-4">
          <img id="mobile-changing-image" src="/images/Blood-Bag-Shaker.avif" alt="Image" class="img-fluid" />
        </div>
      </div>
    </div>

    <div class="products-intro">
      <div class="row">
        <div class="col-lg-4">
          <img id="changing-image" src="/images/Blood-Bag-Shaker.avif" alt="Image" class="img-fluid" />
        </div>
        <div class="col-lg-4 products-intro-text">
          <h2>PRODCUTS</h2>
          <p>Hi-Tech Instruments was established in 2002 with an objective to be recognized as a cheaper option in the manufacturing of Laboratory & blood bank instruments. Hi-Tech Instruments was later expanded to sell refurbished and also brand new instruments to all over the world. Our mission is to provide high quality instruments with competitive prices.</p>
        </div>

        <div class="col-lg-4" style="display: none"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 tile-1" data-aos="fade-up">
        <p>We have a diligent team comprising experienced graduate engineers, technicians and skilled workers. Quality and customer services are our two main mottoes behind our success. We offer best quality equipment at most economic rates which has made our customer support to have grown remarkably in the last so many years.</p>
      </div>
      <div class="col-lg-4 tile-2" data-aos="fade-up">
        <!-- very scuffed way of centering button using bootstrap grid system -->
        <div class="row">
          <div class="col-2"></div>
          <!-- justify content center is really helpful! -->
          <!-- still not sure how to center vertically -->
          <div class="col-8 d-flex justify-content-center"><button class="b1 fw-bold">Contact Hi-Tech Instruments</button></div>
          <div class="col-2"></div>
        </div>
      </div>
      <div class="col-lg-4 tile-3" data-aos="fade-up">
        <div class="row">
          <div class="col-2"></div>
          <!-- justify content center is really helpful! -->
          <div class="col-8 d-flex justify-content-center">
            <p>Send us a message: info@hitechinstruments.us</p>
          </div>
          <div class="col-2 px-0"></div>
        </div>
      </div>
    </div>
  </div>
</div>
