@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Spectral:wght@600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased; /* makes text have smoother edges*/
}

body {
  overflow-y: scroll;
  /* no horizontal scroll bar */
  /* overflow-x: hidden;  */
}

header {
  /* made position static so it will no longer be fixed */
  position: static;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 3%;
  display: flex;
  align-items: center;
  /* changed it from end to spc btwn */
  justify-content: space-between;
  z-index: 1000;
}
.navbar {
  padding: 0px;
}
header .logo {
  /* font-weight: bolder;
  font-size: 25px; */
  color: black;
}
/* adjusted the width of logo */
.logo-image {
  width: 420px;
  margin-top: 10px;
}
header .navbar ul {
  list-style: none; /* the bullet point icons will be removed */
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
}

/** only selects li that are direct descendants of ul, diff from .navbar ul li*/
header .navbar > ul > li {
  /** display: flex does the same thing, but need to flex-direction: column on moible*/
  /** can't do display: block on mobile bc we won't have access to flex properties*/
  /* float: left; */
  border-left: 1px solid rgba(206, 206, 206, 0.2);
  height: 150px;
  display: flex;
  align-items: center;
}
/* added transition here*/
header .navbar > ul > li > a {
  font-size: 18px;
  padding: 150px 20px;
  color: black;
  display: block;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}
header .navbar ul > li > a {
  font-family: "Open Sans", sans-serif;
}
/* drop down indicator */
.fa-angle-down {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

/* :focus =~ clicked*/
header .navbar > ul > li > a:focus {
  /* changed color */
  color: #005c87;
}
header .navbar > ul > li > a:hover {
  /* changed color */
  color: #005c87;
}
/* changed padding and alignment*/
header .navbar ul li ul {
  position: absolute;
  /* navbar is relative bc styled by bootstrap */
  left: 0;
  top: 150px; /* since height of navbar ul li is 150px, we need dropdown 150px below that */
  width: 200px;
  background: #005c87;
  display: none;
  padding: 20px 0px;
}

/* adjusted padding */
header .navbar ul li ul li {
  width: 100%;
  padding: 5px 0px; /* vertical padding between the li's in the dropdown*/
}
/* modified the bg and txt color */
header .navbar ul li ul li a {
  /** targets all <a> (even the nested ones) from ul li ul li */
  font-size: 14px;
  color: #cecece;
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding-left: 20px;
  transition: color 0.2s;
}
/* added hover effect */
header .navbar ul li ul li a:hover {
  color: white;
}

/*added drop down indicator and transition*/
.fa-rotate-270 {
  position: absolute;
  right: 20px;
  color: white;
  vertical-align: middle;
  transition: right 0.2s;
}

header .navbar ul li ul li a:hover > .fa-rotate-270 {
  /* when hover on dropdown link, then make the little right arrow move 16px to the right */
  right: 16px;
}
header .navbar ul li ul li ul {
  /* since the width of first dropdown is 200px, */
  /* we need to make sure 2nd dropdown is 200px from left */
  left: 201px;
  top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial; /** the dropdown is displayed when li is focused or hovered*/
}

/* search & shopping bag */
.icons {
  padding-left: 30px;
}
/* adding space between icons */
.icons svg {
  margin-right: 15px;
}
.shopping-bag {
  width: 25px;
}

/* .logo-image {
  width: 250px; Adjust the width to your desired size
 height: auto; Maintain the aspect ratio
  margin-left: 0;
} */

/* .navbar {
  height: 120px;
  background-color: white; temporary
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
} */

.jumbotron {
  background-image: url("https://cdn.discordapp.com/attachments/987016731476258906/1120400761084465336/jumbotron-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* opacity makes it so you have a fadish cover over your element. So you can't alter the opacity of the child, without effecting opacity of parent*/

button.hamburger {
  background-color: #005c87;
  border-radius: 50%;
  padding: 0px 10px;
}

.hamburger {
  position: relative;
  display: block;
  color: white;
  cursor: pointer; /* clickable visual cue */
  appearance: none;
  outline: none;
  border: none;
  width: 44px;
  height: 44px;
  background-color: transparent;
  background-image: linear-gradient(90deg, #005c87, #0773a5, #005c87);
  padding: 3px;
  border-radius: 50px;
  margin-left: auto;
}

/* :after, :before gives 2 more bars. 1 below, 1 above */
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 75%;
  height: 3px;
  background-color: white;
  margin: 5px auto;
  transition: 0.4s; /* takes 0.4s for hamburger before & after to transform*/
  border-radius: 4px;
}

.hamburger.is-active:before {
  /* animation */
  transform: rotate(-45deg) translate(-4.5px, 4.5px);
}

.hamburger.is-active:after {
  /* animation */
  transform: rotate(45deg) translate(-4px, -4px);
}

.hamburger.is-active .bar {
  opacity: 0; /* when hamburger clicked, make middle bar invisible*/
}

.hamburger.is-active {
  z-index: 99; /* so it appears on top mobile-nav */
}

.main-link {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.read-more-btn {
  background-color: #005c87;
}

.vr {
  width: 1px;
  border-right: 2px solid gray;
}

.box p {
  display: none; /* don't display when width <= 992*/
}

.mobile-box p {
  display: none; /* mobile box display none when width >= 992*/
}

.products-intro {
  display: none;
}

.mobile-products-intro {
  display: none;
}

.products-intro img {
  width: 100vw;
}

.mobile-products-intro img {
  width: 100vw;
  border: 0.5px solid lightgray;
}

.number-input {
  width: 50px;
  height: 40px;
  border: 1px solid lightgray;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .navbar {
    margin-left: auto;
  }

  .box {
    position: relative;
    width: 55%;
    top: 180px;
    background-color: #005c87;
    border: 15px solid white;
    text-align: center;
  }

  .box p {
    display: block; /* display when width <= 992*/
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: normal; */
    font-size: 21px;
    font-weight: bold;
    color: white;
  }

  .box-text {
    padding: 30px;
  }

  .jumbo-text {
    width: 60%;
    margin-left: 50px;
  }

  /* .logo-image {
    margin-left: 100px; h
    width: 350px; Adjust the width to your desired size
  } */

  .read-more-btn {
    background-color: #005c87;
    margin-left: 50px;
  }

  .products-intro {
    display: inline-block;
    margin-top: 90px;
    margin-left: 180px;
  }

  .products-intro img {
    width: 85%;
    padding: 0;
    margin-left: 50px;
    border: 0.5px solid rgb(235, 231, 231);
  }

  .products-intro-text {
    text-align: left;
    width: 40%;
    padding: 0;
    margin-top: 40px;
  }

  .col-lg-4 {
    padding: 0;
  }

  .tile-1 {
    background-color: #005c87;
    height: 250px;
    color: white;
    margin-top: 20px;
  }

  .tile-1 p {
    display: block; /* display when width <= 992*/
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    padding-top: 9%; /* centers it */
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }

  .tile-2 {
    background-color: darkred;
    height: 250px;
    color: white;
    margin-top: 20px;
  }

  .b1 {
    background-color: transparent;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
    font-size: 25px;
    margin-top: 22%;
  }

  .tile-3 {
    background-color: #005c87;
    height: 250px;
    margin-top: 20px;
  }

  .tile-3 p {
    color: white;
    font-size: 20px;
    margin-top: 28%;
    margin-left: 20px;
  }

  .mobile-footer {
    display: none;
  }

  .footer {
    display: block;
    background-color: #005c87;
    padding-top: 20px;
  }

  .footer h5 {
    padding-bottom: 20px;
  }

  .footer p,
  .footer h5 {
    color: white;
  }

  .divider-1 {
    width: 1px;
    border-right: 2px solid white;
    height: 30px;
    margin-right: 90px;
  }

  .divider-2 {
    width: 1px;
    border-right: 2px solid white;
    height: 30px;
    margin-left: 90px;
  }

  .footer p {
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  .mobile-footer {
    display: none;
  }

  .prod-img {
    width: 100%;
    height: 350px;
  }

  .prod-name {
    margin: 20px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }

  .prod-container {
    position: relative;
  }

  /* this is neat. targets h1 which sibling of prod-container */
  .prod-container:hover + h1 {
    color: #005c87;
  }

  .price {
    position: absolute;
    top: 5px;
    right: 8px;
    color: #005c87;
    font-weight: bold;
    font-size: 14px;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #005c87;
    border-radius: 5px;
    bottom: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    display: none;
  }

  .prod-container:hover .overlay {
    display: flex;
  }

  .fa-cart-shopping {
    margin-top: 8px;
    margin-left: 16px;
  }

  .cart-text {
    font-size: 13px;
    padding-left: 5px;
  }

  .sorting {
    display: flex;
    position: relative;
    margin-bottom: 15px;
  }

  .sorting p {
    width: 200px;
  }

  .sorting select {
    width: 180px;
    position: absolute;
    right: 0;
  }

  .all-products-heading {
    margin-top: 50px;
    font-weight: 700;
  }

  .page-numbers {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .page-indicator {
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 40px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #005c87;
    position: relative;
    border: 1px solid lightgray;
    margin-right: 8px;
  }
  .page-indicator p {
    position: absolute;
    color: white;
    justify-content: center;
    left: 40%;
    top: 22%;
    font-weight: bold;
  }

  .page-numbers button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: 0;
    color: white;
  }

  .minus {
    background-color: lightgray;
    width: 40px;
    height: 40px;
    border: none;
  }

  .plus {
    background-color: lightgray;
    width: 40px;
    height: 40px;
    border: none;
  }

  .prod-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    width: 125px;
    height: 40px;
    border-radius: 2px;
    background-color: #005c87;
  }

  .prod-cart:hover {
    color: white;
  }

  .category-subtext {
    font-weight: 600;
  }

  .category-text {
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .prod-text-desc {
    line-height: 2;
    margin-bottom: 30px;
  }

  .prod-text-name {
    font-weight: 600;
    margin-top: 80px;
  }

  .zoom-img-container {
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    margin-bottom: 40px;
    border: 1px solid lightgray;
  }
  .zoom-img {
    width: 100%;
  }

  .zoom-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .zoom-icon {
    font-size: 30px;
  }

  .prod-text {
    margin-left: 40px;
    margin-right: 40px;
    overflow-wrap: break-word;
  }

  .prod-text-name {
    font-weight: 600;
  }
  .prod-text-price {
    color: #005c87;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .prod-text-desc {
    line-height: 2;
    margin-bottom: 30px;
  }

  .prod-desc {
    margin-left: 40px;
    margin-right: 40px;
    line-height: 2;
    padding: 20px;
    border: 1px solid lightgray;
  }

  .prod-desc-heading {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  prod-desc-p1 {
    margin-bottom: 10px;
  }

  .prod-desc-p2 {
    margin-top: 60px;
  }

  .related-prod {
    margin-left: 40px;
    margin-right: 20px;
  }

  .related-prod-heading {
    margin-top: 60px;
    margin-left: 40px;
    font-size: 22px;
    font-weight: bold;
  }

  .hr {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    color: lightgray;
  }
}

@media (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  body.mobile-menu-open {
    overflow: hidden;
  }
  .mobile-nav {
    display: block;
  }
  .icons {
    display: none;
  }

  nav ul {
    position: absolute;
    right: 0;
    /* positioned 100% from the left, aka completely to the right*/
  }

  .navbar.is-active ul {
    right: 0;
    padding: 0 1rem;
    left: 0;
  }

  header {
    padding: 20px;
    /* position: relative; */
    /* display: block; */
  }

  header .navbar {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /* display: none; */
  }

  header .navbar ul li {
    width: 100%;
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    background: white;
  }

  header .navbar ul li ul li {
    background: white;
  }

  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }

  .mobile-box {
    position: relative;
    width: 100%;
    top: 0;
    background-color: #005c87;
    border: 15px solid white;
    text-align: center;
    z-index: -1;
  }

  .mobile-box p {
    display: block; /* display when width <= 992*/
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: normal; */
    font-size: 21px;
    font-weight: bold;
    color: white;
  }

  .mobile-box-text {
    padding: 30px;
  }

  .mobile-products-intro {
    display: block;
  }

  .tile-1 {
    height: 222px;
    background-color: #005c87;
    margin-top: 10px;
  }

  .tile-1 p {
    display: block; /* display when width <= 992*/
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    padding-top: 7%; /* centers it */
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }

  .tile-2 {
    height: 200px;
    background-color: darkred;
    position: relative;
  }

  .tile-3 {
    height: 200px;
    background-color: #005c87;
  }
  /* still not sure how to center vertically */
  .tile-3 p {
    color: white;
    font-size: 20px;
    margin-top: 20%;
  }
  .b1 {
    background-color: transparent;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
    font-size: 25px;
    margin-top: 13%;
  }

  .footer {
    display: none;
  }

  /* nav-mobile view only */
  header .navbar ul {
    flex-direction: column; /** better than block because it you still have access flex properties */
  }

  .navbar {
    position: fixed;
    top: 0 !important; /* start from top*/
    left: 100%; /* positioned 100% from the left, aka completely to the right*/
    margin-left: auto !important;
    max-width: 75% !important; /* doesn't take up the entire viewport width*/
    right: -100% !important;
    width: 400px;
    min-height: 100vh; /* take up entire viewport height*/
    display: block;
    z-index: 98; /* so you can see the hamburger */
    background-color: white;
    /* padding-top: 120px; */
    transition: 0.4s; /* takes 0.4s for mobile-nav to transition to left: 0*/
  }

  .navbar.is-active {
    left: 0; /* animation */
    right: 0 !important;
    z-index: 100 !important;
  }

  .navbar.is-active + .cz_overlay {
    display: block !important;
  }
  .offcanvas-close {
    position: fixed;
    z-index: 1;
    right: 76%;
    top: 4px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /** bezier produces different speend at different point... change to linear to see diff */
    transition: transform 500ms cubic-bezier(0.77, 0, 0.175, 1);
    transform: rotate(0deg);
    cursor: pointer;
  }
  .offcanvas-close span {
    width: 1.5rem;
    display: block;
    height: 2px;
    background-color: white;
    transform: rotate(45deg) translate(-1px, -2px);
  }
  .offcanvas-close span:first-of-type {
    transform: rotate(-45deg) translate(0px, 0px);
  }
  .offcanvas-close:hover {
    transform: rotate(180deg);
  }

  header .logo {
    z-index: 0;
  }

  /** only selects offcanvas-close when hamburger class is active*/
  .hamburger.is-active + .offcanvas-close {
    /** was hidden via html, but display: block makes it visible... !important overrides bootstrap*/
    display: block !important;
  }

  /** animation comaptibility in old browsers*/
  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      z-index: 9999;
    }
  }

  .navbar a {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 0;
    text-align: center;
    padding: 12px 16px !important;
    /* background-color: #005c87; */
    /* border-radius: 20px; */

    color: white;
    text-decoration: none;
  }

  .navbar a:hover {
    /* background-color: darkred; */
  }
  header .navbar ul li:focus-within > ul,
  header .navbar ul li:hover > ul {
    display: none; /* when start, no dropdowns are navbars */
  }

  .logo-image {
    width: 220px;
    margin-top: 10px;
  }

  header .navbar > ul > li {
    height: auto;
    display: initial;
  }

  header .navbar > ul > li a {
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.6) !important;
    font-weight: 600 !important;
    text-align: left !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
  header .navbar > ul > li:first-of-type > a:first-of-type,
  header .navbar > ul > li:first-of-type > ul > li:first-of-type > a:first-of-type,
  header .navbar > ul > li:first-of-type > ul > li:nth-of-type(2) > a:first-of-type,
  header .navbar > ul > li:first-of-type > ul > li:nth-of-type(3) > a:first-of-type {
    box-shadow: inset -50px 0 0 white, inset -51px 0 0 rgba(0, 0, 0, 0.1);
  }
  header .navbar > ul > li:hover > a {
    color: #005c87 !important;
  }
  header .navbar ul.sub-menu li > a:hover {
    color: #3f51b5 !important;
  }
  header .navbar ul li.active > a {
    color: #005c87 !important;
  }
  header .navbar ul.active {
    display: block !important;
  }
  .navbar.is-active ul {
    top: 0 !important;
    background-color: none !important;
    background: none !important;
    padding: 0 !important;
  }
  .navbar ul.sub-menu {
    padding-left: 5px !important; /* so we can see sub-menu is nested*/
  }
  ul.sub-menu li a {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navbar ul {
    width: 100% !important;
  }
  .navbar .fa-angle-down {
    color: rgba(0, 0, 0, 0.6) !important;
    position: absolute;
    right: 16px;
    color: white;
    vertical-align: middle;
    transition: right 0.2s;
  }
  .fa-rotate-270 {
    transform: rotate(0deg) !important; /* arrows facing up, not right */
    transform-origin: 6px; /** rotations starts for 6px, easier to notice on large icons*/
    right: 16px !important;
  }

  /* when li.active (or when li is clicked to activiate dropdown) then rotate arrows 180deg */
  header .navbar li.active > a > i.fa-angle-down {
    transform: rotate(180deg) !important;
    right: 16px !important;
    transform-origin: 6px;
  }
  header .navbar li {
    padding: 0 !important;
    border: none;
    /* border-top: 1px solid rgba(0,0,0,0.1) !important; */
  }

  header .navbar ul li ul {
    top: 0 !important;
    background: white !important;
    padding: 0 !important;
    width: 100% !important;
  }

  .cz_overlay {
    /** to make background (stuff that's not navbar) dimmed*/
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .prod-img {
    width: 100%;
    height: 350px;
  }

  .prod-name {
    margin: 20px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }

  .prod-container {
    position: relative;
  }

  /* this is neat. targets h1 which sibling of prod-container */
  .prod-container:hover + h1 {
    color: #005c87;
  }

  .price {
    position: absolute;
    top: 5px;
    right: 8px;
    color: #005c87;
    font-weight: bold;
    font-size: 14px;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #005c87;
    border-radius: 5px;
    bottom: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    display: none;
  }

  .prod-container:hover .overlay {
    display: flex;
  }

  .fa-cart-shopping {
    margin-top: 8px;
    margin-left: 16px;
  }

  .cart-text {
    font-size: 13px;
    padding-left: 5px;
  }

  .sorting {
    display: flex;
    position: relative;
    margin-bottom: 15px;
  }

  .sorting p {
    width: 200px;
  }

  .sorting select {
    width: 180px;
    position: absolute;
    right: 0;
  }

  .mobile-footer {
    display: block;
    background-color: #005c87;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mobile-footer p {
    margin: 0;
    color: lightgray;
  }

  .all-products-heading {
    margin-top: 50px;
    font-weight: 700;
  }

  .page-numbers {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .page-indicator {
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 40px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #005c87;
    position: relative;
    border: 1px solid lightgray;
    margin-right: 8px;
  }
  .page-indicator p {
    position: absolute;
    color: white;
    justify-content: center;
    left: 40%;
    top: 22%;
    font-weight: bold;
  }

  .zoom-img-container {
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    margin-bottom: 40px;
    border: 1px solid lightgray;
  }
  .zoom-img {
    width: 100%;
  }

  .zoom-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .zoom-icon {
    font-size: 30px;
  }

  .prod-text {
    margin-left: 40px;
    margin-right: 40px;
    overflow-wrap: break-word;
  }

  .prod-text-name {
    font-weight: 600;
  }
  .prod-text-price {
    color: #005c87;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .prod-text-desc {
    line-height: 2;
    margin-bottom: 30px;
  }

  .minus {
    background-color: lightgray;
    width: 40px;
    height: 40px;
    border: none;
  }

  .plus {
    background-color: lightgray;
    width: 40px;
    height: 40px;
    border: none;
  }

  /* removing the arrows/spinner from input type number */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .prod-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    width: 125px;
    height: 40px;
    border-radius: 2px;
    background-color: #005c87;
  }

  .prod-cart:hover {
    color: white;
  }

  .category-subtext {
    font-weight: 600;
  }

  .category-text {
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .prod-desc {
    margin-left: 40px;
    margin-right: 40px;
    line-height: 2;
    padding: 20px;
    border: 1px solid lightgray;
  }

  .prod-desc-heading {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  prod-desc-p1 {
    margin-bottom: 10px;
  }

  .prod-desc-p2 {
    margin-top: 60px;
  }

  .related-prod {
    margin-left: 40px;
    margin-right: 20px;
  }

  .related-prod-heading {
    margin-top: 60px;
    margin-left: 40px;
    font-size: 22px;
    font-weight: bold;
  }

  .hr {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    color: lightgray;
  }
}
