body {
  overflow-y: scroll;
  overflow-x: hidden; /* no horizontal scroll bar*/
}

.logo-image {
  width: 250px; /* Adjust the width to your desired size */
  height: auto; /* Maintain the aspect ratio */
  margin-left: 0;
}

.navbar {
  height: 120px;
  background-color: white; /* temporary */
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

.jumbotron {
  background-image: url("https://cdn.discordapp.com/attachments/987016731476258906/1120400761084465336/jumbotron-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* opacity makes it so you have a fadish cover over your element. So you can't alter the opacity of the child, without effecting opacity of parent*/

button.hamburger {
  background-color: #005c87;
  border-radius: 20px;
  padding: 0px 10px;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  color: white;
  cursor: pointer; /* clickable visual cue */

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

/* :after, :before gives 2 more bars. 1 below, 1 above */
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s; /* takes 0.4s for hamburger before & after to transform*/
}

.hamburger.is-active:before {
  /* animation */
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  /* animation */
  transform: rotate(45deg) translate(-9.5px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0; /* when hamburger clicked, make middle bar invisible*/
}

.hamburger.is-active {
  z-index: 99; /* so it appears on top mobile-nav */
}

.mobile-nav {
  position: fixed;
  top: 0; /* start from top*/
  left: 100%; /* positioned 100% from the left, aka completely to the right*/
  width: 100%;
  min-height: 100vh; /* take up entire viewport height*/
  display: block;
  z-index: 98; /* so you can see the hamburger */
  background-color: white;
  padding-top: 120px;
  transition: 0.4s; /* takes 0.4s for mobile-nav to transition to left: 0*/
}

.mobile-nav.is-active {
  left: 0; /* animation */
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #005c87;
  border-radius: 20px;

  color: white;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: darkred;
}

.main-link {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.read-more-btn {
  background-color: #005c87;
}

.vr {
  width: 1px;
  border-right: 2px solid gray;
}

.box p {
  display: none; /* don't display when width <= 992*/
}

.mobile-box p {
  display: none; /* mobile box display none when width >= 992*/
}

.products-intro {
  display: none;
}

.mobile-products-intro {
  display: none;
}

.products-intro img {
  width: 100vw;
}

.mobile-products-intro img {
  width: 100vw;
  border: 0.5px solid lightgray;
}

@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .box {
    position: relative;
    width: 55%;
    top: 180px;
    background-color: #005c87;
    border: 15px solid white;
    text-align: center;
  }

  .box p {
    display: block; /* display when width <= 992*/
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: normal; */
    font-size: 21px;
    font-weight: bold;
    color: white;
  }

  .box-text {
    padding: 30px;
  }

  .jumbo-text {
    width: 60%;
    margin-left: 50px;
  }

  .logo-image {
    margin-left: 100px;
    width: 350px; /* Adjust the width to your desired size */
  }

  .read-more-btn {
    background-color: #005c87;
    margin-left: 50px;
  }

  .products-intro {
    display: inline-block;
    margin-top: 90px;
    margin-left: 180px;
  }

  .products-intro img {
    width: 85%;
    padding: 0;
    margin-left: 50px;
    border: 0.5px solid rgb(235, 231, 231);
  }

  .products-intro-text {
    text-align: left;
    width: 40%;
    padding: 0;
    margin-top: 40px;
  }

  .col-lg-4 {
    padding: 0;
  }

  .tile-1 {
    background-color: #005c87;
    height: 250px;
    color: white;
    margin-top: 20px;
  }

  .tile-1 p {
    display: block; /* display when width <= 992*/
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    padding-top: 9%; /* centers it */
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }

  .tile-2 {
    background-color: darkred;
    height: 250px;
    color: white;
    margin-top: 20px;
  }

  .b1 {
    background-color: transparent;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
    font-size: 25px;
    margin-top: 22%;
  }

  .tile-3 {
    background-color: #005c87;
    height: 250px;
    margin-top: 20px;
  }

  .tile-3 p {
    color: white;
    font-size: 20px;
    margin-top: 28%;
    margin-left: 20px;
  }

  .footer {
    display: block;
    background-color: #005c87;
    padding-top: 20px;
  }

  .footer h5 {
    padding-bottom: 20px;
  }

  .footer p,
  .footer h5 {
    color: white;
  }

  .divider-1 {
    width: 1px;
    border-right: 2px solid white;
    height: 30px;
    margin-right: 90px;
  }

  .divider-2 {
    width: 1px;
    border-right: 2px solid white;
    height: 30px;
    margin-left: 90px;
  }

  .footer p {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .mobile-box {
    position: relative;
    width: 100%;
    top: 0;
    background-color: #005c87;
    border: 15px solid white;
    text-align: center;
  }

  .mobile-box p {
    display: block; /* display when width <= 992*/
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: normal; */
    font-size: 21px;
    font-weight: bold;
    color: white;
  }

  .mobile-box-text {
    padding: 30px;
  }

  .mobile-products-intro {
    display: block;
  }

  .tile-1 {
    height: 222px;
    background-color: #005c87;
    margin-top: 10px;
  }

  .tile-1 p {
    display: block; /* display when width <= 992*/
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    padding-top: 7%; /* centers it */
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }

  .tile-2 {
    height: 200px;
    background-color: darkred;
    position: relative;
  }

  .tile-3 {
    height: 200px;
    background-color: #005c87;
  }
  /* still not sure how to center vertically */
  .tile-3 p {
    color: white;
    font-size: 20px;
    margin-top: 20%;
  }
  .b1 {
    background-color: transparent;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
    font-size: 25px;
    margin-top: 13%;
  }

  .footer {
    display: none;
  }
}
