<% layout("layouts/boilerplate") %>
<style>
  body {
    /* padding-top: 40px; */
    background-color: #f8f9fa; /* Light gray background for a soft look */
    color: #333; /* Darker text for better readability */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .about-section {
    padding: 60px 50px;
    background-color: #fff; /* White background for the content area */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 8px; /* Slightly rounded corners for a softer look */
    max-width: 800px;
    margin: auto;
  }

  h1 {
    font-family: "Poppins", sans-serif, "arial";
    font-weight: 600;
    font-size: 64px;
    color: #005c87;
    text-align: center;
    margin-bottom: 30px;
  }

  p {
    font-size: 1.1rem; /* Slightly larger font size for readability */
    line-height: 1.7; /* Improved line spacing for easier reading */
    color: #555; /* Slightly lighter text for a softer look */
    margin-bottom: 20px; /* Consistent bottom margin for paragraphs */
  }
</style>
<div class="container">
  <div class="about-section">
    <h1 class="text-center">about us</h1>
    <p>Hi-Tech Instruments established in 2002 with an objective to recognize Pakistan as a manufacturer in the Laboratory & blood bank instruments sector. Our mission is to provide high-quality instruments at competitive prices. We have a diligent team comprising experienced graduate engineers, technicians, and skilled workers. Quality and customer services are our two main mottos behind our success.</p>
    <p>We offer the best quality equipment at the most economical rates, which has made our customer support grow remarkably over the years. We are committed to providing our customers with the highest quality products and services, which meet and exceed their requirements. We are also committed to continuously improving the products and services we offer.</p>
  </div>
</div>
